<h1>Homepages#index</h1>
  
<section>
  <p>spotlight section for the top media overall</p>
  <ul>
    <% @top_ten.each do |work| %>
      <li>Category: <%= work.category %></li>
      <li>Title: <%= work.title %></li>
      <li>Creator: <%= work.creator %></li>
      <li>Publication Year: <%= work.publication_year %></li>
      <li>Description: <%= work.creator %></li>
    <% end %>
  </ul>
</section>

<section>
  <p>Books</p>

  <% @books.each do |work| %>
    <ul>
      <li>Category: <%= work.category %></li>
      <li>Title: <%= work.title %></li>
      <li>Creator: <%= work.creator %></li>
      <li>Publication Year: <%= work.publication_year %></li>
      <li>Description: <%= work.creator %></li>
    </ul>
  <% end %>
 
</section>

<section>
  <p>Albums</p>

  <% @albums.each do |work| %>
    <ul>
      <li>Category: <%= work.category %></li>
      <li>Title: <%= work.title %></li>
      <li>Creator: <%= work.creator %></li>
      <li>Publication Year: <%= work.publication_year %></li>
      <li>Description: <%= work.creator %></li>
    </ul>
  <% end %>
 
</section>

<section>
  <p>Movies</p>

  <% @movies.each do |work| %>
  <ul>
    <li>Category: <%= work.category %></li>
    <li>Title: <%= work.title %></li>
    <li>Creator: <%= work.creator %></li>
    <li>Publication Year: <%= work.publication_year %></li>
    <li>Description: <%= work.creator %></li>
  </ul>
  <% end %>
 
</section>