<h1>Homepages#index</h1>
  
<section>
  <p>spotlight section for the top media overall</p>
  <ul>
    <% @top_ten.each do |work| %>
    <li>Category: <%= work.category %></li>
    <li>Title: <%= work.title %></li>
    <li>Creator: <%= work.creator %></li>
    <li>Publication Year: <%= work.publication_year %></li>
    <li>Description: <%= work.creator %></li>
    <% end %>
  </ul>
</section>

<section>
 <p>list of the media for each category</p>
<ul>
  <% array = Work.where(category: "album")  %>
  <% array.each do |work| %>
    <li>Category: <%= work.category %></li>
    <li>Title: <%= work.title %></li>
    <li>Creator: <%= work.creator %></li>
    <li>Publication Year: <%= work.publication_year %></li>
    <li>Description: <%= work.creator %></li>
<br>
  <% end %>
 </ul>
</section>