<h2> new work </h2>


<%= form_for @work do |f| %>
  Title: <%= f.text_field :title %><br />
  Category: <br />
  Creator:<%= f.text_field :creator %><br />
  Publication Year <%= f.text_field :publication_year %><br />
  Description : <%= f.text_area :description %><br />
  <%= f.submit action_name %>
<% end %>
