<h1> Work Index </h1>

<p> This is an iteration loop that prints each work attribute</p>
  <ul>
    <% @works.each do |work|%>
      <li>Category: <%= work.category %> </li>
      <li>Title: <%= link_to "#{work.title}", work_path(work.id) %> </li>
      <li>Creator: <%= work.creator %> </li>
      <li>Publication Year: <%= work.publication_year %></li>
      <li>Description: <%= work.description %></li>
      <br>
    <% end %>
  </ul>

<%= link_to "Add a New Work", new_work_path%>
<%= link_to "View Top Media", root_path %>