<h1><%= @work.title %></h1>

<ul>
  <li>Category: <%= @work.category %></li>
  <li>Title: <%= @work.title %></li>
  <li>Creator: <%= @work.creator %></li>
  <li>Publication Year: <%= @work.publication_year %></li>
  <li>Description: <%= @work.creator %></li>
</ul>

<section>
  <%= link_to "Edit #{@work.title}", edit_work_path(@work)%>
</section>
