<h1><%= @work.title %></h1>

<ul>
  <li>Category: <%= @work.category %></li>
  <li>Title: <%= @work.title %></li>
  <li>Creator: <%= @work.creator %></li>
  <li>Publication Year: <%= @work.publication_year %></li>
  <li>Description: <%= @work.creator %></li>
</ul>

<section>
  <%= link_to "Edit #{@work.title}", edit_work_path(@work)%>
  <%= link_to "Delete #{@work.title}", @work, method: :delete, data: { confirm: "Are you sure you want to delete #{@work.title}?"} %>
</section>
