<!DOCTYPE html>
<html>
  <head>
    <title>MediaRanker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="btn-primary">
        <ul>
          <li>View top media</li>
          <li>Add New Media</li>
          <li><%= link_to "View All Media", works_path %></li>
          <li>View all Users</li>
          <li> <%= link_to "Log In", login_path %></li>
          <li> Log Out</li>
        </ul>
      </nav>
    </header >
    <%= yield %>
  </body>
</html>
