<!DOCTYPE html>
<html>
  <head>
    <title>Media Ranker 2.0</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
    <h1>
    <a href="/">Media Ranker</a>
    <small>Ranking the Best of Everything</small>
    </h1>
      <nav class="app-header">
        <ul class="nav app-header__site-nav-container">
          <li>View top media</li>
          <li>Add New Media</li>
          <li><%= link_to "View All Media", works_path %></li>
          <li>View all Users</li>
        </ul>
        <ul class="nav app-header__user-nav-container">
          <% if session[:user_id] %>
            <li class="btn btn-primary"> Logged in as <%= @current_user %> </li>
            <li class="btn btn-primary" <%= link_to "Log out", logout_path, method: :post %> </li>
          <% else %>
          <li class="nav-item app-header__nav_item"><%= link_to "Log In", login_path %> </li>
          <% end %>
        </ul>
      </nav>
    </header >

    <section>
    </section>
    <%= yield %>
  </body>
</html>
